body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin-top: 0;
  font-size: 3em;
  font-family:'Sacramento', cursive;
  color: #11999E;
}
h2{
  color: #11999E;
  font-family: 'Mobtserrat', sans-serif;
}
h3{
  color: #66BFBF;
  font-family: 'Mobtserrat', sans-serif;
}
.my-pic{
  border-radius: 30%;
  width: 300px;
  height: 300px;

}
.CV{
  width: 75%;
}
.gif{
  border-radius: 10%;
  width: 200px;
  height: 200px;
}
.books{
  border-radius: 25%;
  width: 200px;
  height: 200px;
}

.top-container{
  background-color: #E4F9F5;
  padding-top: 100px;

}
.top-cloud{

  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 330px;

}
